.container {
  display: grid;
  place-items: center;
  position: relative;
  height: 90dvh;
}

.backgroundVideo {
  position: absolute;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  object-fit: fill;
  z-index: -1;
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0px) saturate(90%);
  padding: 2rem;
  max-width: 50%;
  top: 25%;
}

.text h1 {
  text-align: center;
  line-height: 12px;
  font: bold 2.2rem var(--pri-text);
  /* font-size: 2.2rem; */
  margin-bottom: 0.2rem;
}
.text h3 {
  color: rgb(29, 27, 27);
  line-height: 32px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: normal 1rem var(--pri-text);
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons button {
  border-radius: 10px;
  font: bold 1.2rem var(--sec-text);
  font-weight: 900;
  padding: 0.4rem;
}

.buttons button:hover,
.buttons button:active {
  background-color: black;
  color: darkgray;
}
